.application {
  cursor: pointer;
  display: grid;
  grid-template-columns: 2.5fr 2fr 2fr 2fr 0.3fr;
  justify-content: center;
  align-items: center;
  gap: 20px;

  max-height: 55px;
  border: solid 1px #d9d9d9;
  border-left: solid 3px #464646;
  border-radius: 3px;
  color: #464646;
  width: 100%;
  padding: 0 30px;
  margin: 5px 0;

  p {
    max-height: 21px;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h2 {
    max-height: 27px;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h2 {
    // width: 100%;
    font-size: 20px;
    margin: 0;
  }

  @media only screen and (max-width: 520px) {
    h2 {
      font-size: 16px;
    }
  }

  .bl-r {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .p-right {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    color: #464646 !important;
    margin: 0;
    a {
      color: #464646 !important;
    }
  }
}

@media only screen and (max-width: 520px) {
  .application {
    font-size: 14px;
  }
}
