.mcontent {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: Arial, sans-serif;

  div {
    box-sizing: border-box;
  }

  p {
    margin: 0;
    font-weight: 500;
  }

  .mccontainer {
    max-height: 55vh;
    overflow: auto;
    width: 100%;

    .mctitle {
      margin-top: 25px;
      margin-bottom: -10px;
      font-weight: 600;
    }
  }

  &__header {
    margin-top: 30px !important;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 15px;
    width: 100%;

    @media only screen and (max-width: 700px) {
      grid-template-columns: 1fr;
    }
  }

  &__cell {
    width: 100%;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    @media only screen and (max-width: 700px) {
      grid-column: 1 / span 1 !important;
    }

    div {
      min-height: 42px;
      width: 100%;
      padding: 10px 20px;
      border-radius: 5px;
      border: 2px solid #4653f6;
    }
  }
}

.mheader {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .mhperson {
    display: flex;
    align-items: center;
    gap: 10px;
    span {
      height: 40px;
      width: 40px;
      border-radius: 1000px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #4653f6;
      color: white;
    }
  }

  .mhclose {
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.modal-cover {
  z-index: 10;
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);

  .Candidate-Modal {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 12;
    max-width: 1000px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 12px;
    padding: 1.5rem;
    gap: 2rem;
    flex-direction: column;
    position: relative;
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;

    @media (max-width: 700px) {
      width: 90%;
    }
  }

  .bottom-button {
    display: flex;
    gap: 0.75rem;
    width: 100%;

    button {
      width: 100%;
      padding: 0.625rem 1.125rem;
      margin: 0 !important;
      font-size: 1rem;
      border-radius: 0.5rem;
      border: none;
      cursor: pointer;
      font-weight: 500;
    }

    .cancel-button {
      background: linear-gradient(0deg, white, white), linear-gradient(0deg, #d0d5dd, #d0d5dd);
      border: 2px solid #a1acbe;
      color: #344054;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
      &:active,
      &:focus {
        background: rgba(0, 0, 0, 0.25);
        color: #000;
      }
    }

    .confirm-button {
      background: #4653f6 !important;
      color: white !important;
      border: none;

      a {
        text-decoration: none;
        color: inherit;
      }

      &:active,
      &:hover,
      &:focus {
        background-color: #5861df !important;
        color: white !important;
      }
    }
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
