.navbar{
font-size: 24px;
color: #3C455F;
font-family: 'Lato';

    ul{
        li{
        padding:0  2.5rem;
        }
    }
    .loginbtn{
        display: flex;
        align-items: center;
        background: #1E2655 ;
        padding: 1rem;
        color: white;
        border-radius: 6px;
    }
    .login-icon{
        height: 15px;
        padding: 0 0.5rem;
    }
}